.card-custom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-custom .card-img-top {
  height: 20rem;
  object-fit: cover;
}

.card-custom .btn {
  margin-top: auto;
}
