<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- Columna de Información -->
      <div class="col-md-4">
        <h5 class="text-white">Sobre Nosotros</h5>
        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><a class="text-white" href="#">Leer más</a></p>
      </div>
      
      <!-- Columna de Enlaces -->
      <div class="col-md-4">
        <h5 class="text-white">Enlaces Importantes</h5>
        <ul class="list-unstyled">
          <li><a class="text-white" href="#">Inicio</a></li>
          <li><a class="text-white" href="#">Productos</a></li>
          <li><a class="text-white" href="#">Ofertas</a></li>
          <li><a class="text-white" href="#">Contacto</a></li>
          <li><a class="text-white" href="#">Mi Cuenta</a></li>
        </ul>
      </div>
      
      <!-- Columna de Contacto -->
      <div class="col-md-4">
        <h5 class="text-white">Contacto</h5>
        <p class="text-white"><i class="fas fa-envelope text-white"></i> emailmple.com</p>
        <p class="text-white"><i class="fas fa-phone text-white"></i> +123 456 789</p>
        <div class="social-icons">
          <a href="#"><i class="fab fa-facebook-f text-white"></i></a>
          <a href="#"><i class="fab fa-twitter text-white"></i></a>
          <a href="#"><i class="fab fa-instagram text-white"></i></a>
          <a href="#"><i class="fab fa-linkedin-in text-white"></i></a>
        </div>
      </div>
    </div>
    
    <!-- Copyright -->
    <div class="text-center text-white mt-4 text-white">
      <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
