.container-products {
  margin-top: 7rem;
}
.ml-50 {
  margin-right: 50%;
  background-color: aquamarine;
  }

.container-item {
  padding: 10px;
  padding-top: 7rem;

}
  
@media (max-width: 576px) { 
  .container {
      justify-content: center;
  }
}