<div class="container mt-5">
  <div class="card bg-light" >
    <div class="card-body">
      <h5 class="card-title">Lo querés hola</h5>
    </div>
    <img src="{{ prod.image }}" class="card-img card-img-top" alt="{{ prod.title }}">

    <div class="card-body">
      <h5 class="card-title text-uppercase text-dark">{{ prod.category }}</h5>
      <p class="text-success">$ {{ prod.price }}</p>
      <p class=" text-success">Envío gratis</p>
      <div class="d-flex container-btn justify-content-between">
        <a class="btn btn-primary btn-sm" [routerLink]="['details/', prod.id]">Ver detalle</a>
        <a class="btn btn-secondary btn-sm" (click)="addFavorite(prod)"> {{prod.favorite ? "Quitar": "Guardar"}}</a>

      </div>
    </div>
  </div>
</div>